# Python variables 
#### No need to declare it like C, C++ we can declare it at moment we assign a value to it.

In [4]:
# How we can declare variables?
X = 5
y = "John"
print(X,y)

5 John

In [9]:
# Types of variables
# 1. Numeric variables

# int = Stores whole number, whole numbers can be positive, zero or negative
num = 2
num = -2

# float = stores floating point number 

num = 2.34
num = -6.77

# complex = stores complex and imaginary numbers 
num = 2 + 3j
print(num)

(2+3j)

In [10]:
# Sequence type

# str = stores sequence of characters stores in double or triple quote 
name = "Chinmay"
para = """
Hi folks how are you ?
its been year since we are working
"""

Hi folks how are you ?
its been year since we are working

In [11]:
# Boolean 

# either sets true or false 
is_true = True
print(type(is_true))

<class 'bool'>

In [12]:
# None type

# Set as none 
value  = None
type(value)

NoneType

In [13]:
# Checking type of variables
print(type(value))

<class 'NoneType'>

In [18]:
# Conversion of one type to another type

# 1. Into str 

num = 3
new_num_int = str(num)
num = 4.64
new_num_float = str(num)
print(type(new_num_float))

<class 'str'>

In [21]:
# 2. Into int

num = "chi"
num_new = int(num)
num_new_float = float(num)

# We cant convert str into int or float

ValueError: invalid literal for int() with base 10: 'chi'

In [22]:
# Into float

num = 3
new_num = float(3)
print(new_num)

3.0

In [25]:
# Variable names

# what names we can do to a variables?

# Accepted :
myname = 3
my_name = 3
my_name4 = 4
my_name_4 = "Chinmay"
_my_name = "Chinmay"
myVar = 3
MYVAR = 4

In [29]:
# What names we cant give ?

# Not accepted
3Chinmay = 3
@chinmay = 5
chinmay name = 3
chinay-name = 4

SyntaxError: invalid decimal literal (1436756226.py, line 4)

In [30]:
# Assiging multiple values to variables 

X, Y, Z = 3, 4, 5
print(X,Y,Z)

3 4 5

In [32]:
X = Y = Z = "Chinmay"
print(X)

Chinmay

In [34]:
# Global variables 

# Variables declare outside the function, are global variables 
x = "good"
def greet(name):
    return f"{name} is {x}"

greetings = greet("Chinmay")
print(greetings)

Chinmay is good