In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\ChinmayB.WINJITBIOS\Downloads\Iris.csv")
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [4]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [5]:
del df["Id"]

In [6]:
df.describe() # describe tells overall statistics of data

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [7]:
df.info() ## info tells non null and type of data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    float64
 1   SepalWidthCm   150 non-null    float64
 2   PetalLengthCm  150 non-null    float64
 3   PetalWidthCm   150 non-null    float64
 4   Species        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [9]:
X = df[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']]

In [16]:
Y = df["Species"]

In [19]:
X

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [24]:
len(X) * 0.70
#

105.0

In [46]:
train_size = int(len(X)*0.7)
train_size

105

In [48]:
x_train = X.iloc[:train_size]
x_test = X.iloc[train_size:]

In [51]:
x_train.iloc[0]

SepalLengthCm    5.1
SepalWidthCm     3.5
PetalLengthCm    1.4
PetalWidthCm     0.2
Name: 0, dtype: float64

In [68]:
x_test.iloc[0]

SepalLengthCm    7.6
SepalWidthCm     3.0
PetalLengthCm    6.6
PetalWidthCm     2.1
Name: 105, dtype: float64

In [85]:
dist = []
position = 0
total_dist = 0
while position < len(x_test.iloc[0]):
    dist.append((x_train.iloc[0][position] - x_test.iloc[0][position])**2)
    position+=1
for i in dist:
    total_dist+=i
print(total_dist)

37.14999999999999

C:\Users\ChinmayB.WINJITBIOS\AppData\Local\Temp\ipykernel_26868\4284356141.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  dist.append((x_train.iloc[0][position] - x_test.iloc[0][position])**2)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
100            6.3           3.3            6.0           2.5
101            5.8           2.7            5.1           1.9
102            7.1           3.0            5.9           2.1
103            6.3           2.9            5.6           1.8
104            6.5           3.0            5.8           2.2

[105 rows x 4 columns]

In [99]:
test_data = []
for i in range(len(x_test)):
    test_data.append(x_test.iloc[i])

train_data = []
for i in range(len(x_train)):
    train_data.append(x_train.iloc[i])

In [131]:
distances_real = []
for position in range(len(test_data)):
        total+= (train_data[position] - test_data[position])**2
        distances_real.append(total)
        
print(distances_real)

[SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64, SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64, SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64, SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64, SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64, SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64, SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64, SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64, SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64, SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64, SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64, SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64, SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64, SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64, SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64, SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64, SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64, SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64, SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64, SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64, SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64, SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64, SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64, SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64, SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64, SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64, SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64, SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64, SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64, SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64, SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64, SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64, SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64, SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64, SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64, SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64, SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64, SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64, SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64, SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64, SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64, SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64, SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64, SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64, SepalLengthCm     426.49
SepalWidthCm       55.33
PetalLengthCm    2297.11
PetalWidthCm      436.57
dtype: float64]

In [133]:
len(distances_real)

45