In [16]:
num = 7

def fibonacci(num:int):
    f = 0
    s = 1
    for i in range(f,num+1):
        seq = []
        n = f + s
        print(f,end = " ")
        f = s
        s = n

In [19]:
e = fibonacci(9)
e

0 1 1 2 3 5 8 13 21 34

In [20]:
"""
Please write a program using generator to print the even numbers between 0 and n in comma separated form while n is input by console.
"""

'\nPlease write a program using generator to print the even numbers between 0 and n in comma separated form while n is input by console.\n'

In [36]:
def even_nums(num:int):
    ev = []
    for i in range(1,num+1):
        if i%2 == 0:
            ev.append(i)
        else:
            pass
    return print(ev, sep = " ")
    #ev

In [37]:
e = even_nums(45)
e

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44]

In [31]:
def EvenGenerator(n):
    i = 0
    while i < n:
        if i%2 == 0:
            yield i
        i+=1

inp = int(input())
values = []
for i in EvenGenerator(n):
    values.append(str(i))

 6

In [30]:
t = EvenGenerator(55)
t

In [34]:
########
"""
when we use yeild is when a function we want to run many times for the list of array of inputs 
"""

'\nwhen we use yeild is when a function we want to run many times for the list of array of inputs \n'

In [39]:
"""
1. FizzBuzz
Write a program that prints the numbers from 1 to 100. But for multiples of three, print "Fizz" instead of the number, 
and for the multiples of five, print "Buzz". For numbers which are multiples of both three and five, print "FizzBuzz".
"""

'\n1. FizzBuzz\nWrite a program that prints the numbers from 1 to 100. But for multiples of three, print "Fizz" instead of the number, \nand for the multiples of five, print "Buzz". For numbers which are multiples of both three and five, print "FizzBuzz".\n'

In [52]:
for i in range(1,101):
    if i%3 == 0 and i%5 == 0:
        print("FizzBuzz")
    else:
        print(i)
    if i % 3 == 0:
        print("Fizz")
    if i % 5 == 0:
        print("Buzz")

1
2
3
Fizz
4
5
Buzz
6
Fizz
7
8
9
Fizz
10
Buzz
11
12
Fizz
13
14
FizzBuzz
Fizz
Buzz
16
17
18
Fizz
19
20
Buzz
21
Fizz
22
23
24
Fizz
25
Buzz
26
27
Fizz
28
29
FizzBuzz
Fizz
Buzz
31
32
33
Fizz
34
35
Buzz
36
Fizz
37
38
39
Fizz
40
Buzz
41
42
Fizz
43
44
FizzBuzz
Fizz
Buzz
46
47
48
Fizz
49
50
Buzz
51
Fizz
52
53
54
Fizz
55
Buzz
56
57
Fizz
58
59
FizzBuzz
Fizz
Buzz
61
62
63
Fizz
64
65
Buzz
66
Fizz
67
68
69
Fizz
70
Buzz
71
72
Fizz
73
74
FizzBuzz
Fizz
Buzz
76
77
78
Fizz
79
80
Buzz
81
Fizz
82
83
84
Fizz
85
Buzz
86
87
Fizz
88
89
FizzBuzz
Fizz
Buzz
91
92
93
Fizz
94
95
Buzz
96
Fizz
97
98
99
Fizz
100
Buzz

In [53]:
"""
Create a function that takes a string as input and returns the string reversed.
"""

'\nCreate a function that takes a string as input and returns the string reversed.\n'

In [54]:
def rever(sent:str):
    new = sent[::-1]
    return new

ww = rever("dvffnufn")
ww

'nfunffvd'

In [55]:
"""
Write a function that calculates the factorial of a number using recursion.
"""

'\nWrite a function that calculates the factorial of a number using recursion.\n'

In [68]:
def fact(num:int):
    fact = 1
    for i in range(1,num):
        fact += fact*i
    return fact

r = [1,2,3,4,5]
for i in r:
    t = fact(i)
    print(t,end = " ")

1 2 6 24 120

In [69]:
"""
Create a function that checks if a given string is a palindrome (reads the same backward as forward).
"""

'\nCreate a function that checks if a given string is a palindrome (reads the same backward as forward).\n'

In [73]:
ip = input().replace(" ","").lower()
ip1 = ip[::-1]
if ip == ip1:
    print("YES, It is Palindrome")
else:
    print("NO, It is not a Palindrome")

 LOWER

NO, It is not a Palindrome

In [74]:
"""
Write a function that generates the first n numbers in the Fibonacci sequence.
"""

'\nWrite a function that generates the first n numbers in the Fibonacci sequence.\n'

In [83]:
num = 6
f = 0
s = 1
for i in range(0,num+1):
    t = f+s
    f = s
    s = t
    print(f,end = " ")

1 1 2 3 5 8 13

In [84]:
"""
Create a function that checks if a number is prime.
"""

'\nCreate a function that checks if a number is prime.\n'

In [124]:
inp = int(input())
print("the number is",inp)
sq = int(inp**0.5)
is_prime = True
for i in range(2,inp):
    if inp%i == 0:
        is_prime = False        
        break
if is_prime:
        print("Prime number")
if not is_prime :
        print("Not a prime")

 9

the number is 9
Not a prime

In [123]:
inp = int(input("Enter a number: "))
if inp <= 1:
    print("Not Prime")
else:
    sq = int(inp**0.5)
    is_prime = True  # Assume the number is prime
    for i in range(2, sq + 1):  # Check divisors from 2 to sqrt(inp)
        if inp % i == 0:
            is_prime = False
            break
    if is_prime:
        print("Prime")
    else:
        print("Not Prime")

Enter a number:  78

Not Prime

In [125]:
"""
Write a function that checks if two strings are anagrams of each other (contain the same characters in different orders).
"""

'\nWrite a function that checks if two strings are anagrams of each other (contain the same characters in different orders).\n'

In [142]:
char1 = "sgfg"
char2 = "gsfg"

if len(char1) != len(char2):
    print("Not a Anagram strings")
else:
    char1_new = sorted(char1)
    char2_new = sorted(char2)
    print("char1_new:",char1_new)
    print("char2_new:",char2_new)
    if char1_new == char2_new:
        print("Yes they are")
    else:
        print("No they are")

char1_new: ['f', 'g', 'g', 's']
char2_new: ['f', 'g', 'g', 's']
Yes they are

In [143]:
################ sorted is used when we want to sort str

In [144]:
"""
Write a function to merge two sorted lists into one sorted list.
"""

'\nWrite a function to merge two sorted lists into one sorted list.\n'

In [147]:
e = [1,3,5,7,9]
f = [2,4,6,8,10]
t = e + f
t

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]