In [1]:
"""
Define a function which can compute the sum of two numbers.
"""

'\nDefine a function which can compute the sum of two numbers.\n'

In [2]:
def sum(a,b):
    return a+b
q = sum(2,3)
q

5

In [3]:
"""
Define a function that can convert a integer into a string and print it in console.
"""

'\nDefine a function that can convert a integer into a string and print it in console.\n'

In [4]:
def int_to_str(num:int):
    return str(num)

w = int_to_str(3)
w

'3'

In [5]:
"""
Define a function that can receive two integral numbers in string form and compute their sum and then print it in console.
"""

'\nDefine a function that can receive two integral numbers in string form and compute their sum and then print it in console.\n'

In [6]:
def str_num(num1,num2):
    return int(num1) + int(num2)
w = str_num("3", "5")
w

8

In [7]:
"""
Define a function that can accept two strings as input and concatenate them and then print it in console.
"""

'\nDefine a function that can accept two strings as input and concatenate them and then print it in console.\n'

In [9]:
def concat(num1, num2):
    return num1 + num2

w = concat("3","4")
w

'34'

In [10]:
"""
Define a function that can accept two strings as input and print the string with maximum length in console. If two strings have the same length, then the function should print al l strings line by line.
"""

'\nDefine a function that can accept two strings as input and print the string with maximum length in console. If two strings have the same length, then the function should print al l strings line by line.\n'

In [16]:
def fun(e1,e2):
    if len(e1) > len(e2):
        return f" max is {e1}"
    if len(e1) == len(e2):
        return f"{e1} and {e2} are of same length"
    else:
        return f"max is {e2}"
    

ms = fun("Chinmay","Bhalerao")
ms

'max is Bhalerao'

In [17]:
"""
Define a function which can print a dictionary where the keys are numbers between 1 and 3 (both included) and the values are square of keys.
"""

'\nDefine a function which can print a dictionary where the keys are numbers between 1 and 3 (both included) and the values are square of keys.\n'

In [22]:
d = dict()
def dict_and_sq(num):
    for i in range(1,num+1):
        d[i] = i*i
    return d
e = dict_and_sq(4)
e

{1: 1, 2: 4, 3: 9, 4: 16}

In [21]:
d

{}

In [23]:
"""
Define a function which can generate and print a list where the values are square of numbers between 1 and 20 (both included).
"""

'\nDefine a function which can generate and print a list where the values are square of numbers between 1 and 20 (both included).\n'

In [25]:
def sq_of_list(num:int):
    final_list = []
    for i in range(1,num+1):
        final_list.append(i**2)
    return final_list

d = sq_of_list(20)
d

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

In [28]:
"""
Write a program which can filter even numbers in a list by using filter function. The list is: [1,2,3,4,5,6,7,8,9,10].
"""

'\nWrite a program which can filter even numbers in a list by using filter function. The list is: [1,2,3,4,5,6,7,8,9,10].\n'

In [31]:
e = [1,2,3,4,5,6,7,8,9,10]
even_numbers = list(filter(lambda x: x % 2 == 0, e))
even_numbers

[2, 4, 6, 8, 10]