In [ ]:
Write a Python program to swap two numbers without using a temporary variable.

In [16]:
# normal swapping 

a = 4
b = 5
c = a + b
a = c - a
b = c- b
print("a:",a,"b:",b)

# Python swapping 
a,b = b,a

a: 5 b: 4

In [ ]:
Take user input for name, age, and city, and print a formatted message like "Hi [Name], you are [Age] years old and live in [City]."

In [21]:
def greeting():
    name = input("Please enter your name:" )
    Age = input("please enter your age:" )
    city = input("please enter your city: ")
    return f"Hi {name}, you are {Age} years old and live in {city}"

e = greeting()
e

Please enter your name: Chinmay
please enter your age: 27
please enter your city:  nashik

'Hi Chinmay, you are 27 years old and live in nashik'

In [ ]:
Write a program to find the area of a rectangle given its length and width as input.

In [22]:
def area_of_rect():
    length = float(input("enter length:" ))
    wdt = float(input("enter width:" ))
    return length * wdt

In [23]:
area = area_of_rect()
area

enter length: 5.78
enter width: 5.78

33.4084

In [ ]:
Convert a temperature given in Fahrenheit to Celsius.

In [24]:
def far_to_cel(num):
    return (num - 32) * (5/9)
cov = far_to_cel(45)
cov

7.222222222222222

In [ ]:
Write a program to calculate the sum of three numbers. If the numbers are the same, return thrice their sum.

In [28]:
num1 = int(input())
num2 = int(input())
num3 = int(input())
sum1 = num1 + num2 + num3
if num1 == num2 == num3:
    sum1 = sum1*3
    print(sum1)
else:
    print(sum1)

 5
 5
 5

45

In [ ]:
Check if a given number is positive, negative, or zero.

In [4]:
num = float(input())
if num > 0:
    print("Num is positive")
if num == 0:
    print("num is zero")
if num < 0:
    print("num is negetive")

 -5

num is negetive

In [ ]:
Write a program to count the number of vowels in a given string.

In [8]:
vowels = ["a","e","i","o","u"]
st = "CHINMAY"
vov = []
for i in st:
    for j in vowels:
        if i.lower() == j:
            vov.append(i)
        else:
            pass
vov

['I', 'A']

In [9]:
vov = [i for i in st.lower() if i in vowels]
vov

['i', 'a']

In [ ]:
Check if a string is a palindrome (e.g., "madam" or "racecar").

In [12]:
st = "madam"
st_new = st[::-1]
if st == st_new:
    print("it is pallindorome")
else:
    print("not a pallindrome")

it is pallindorome

In [ ]:
Write a program to reverse a string without using slicing ([::-1]).

In [15]:
# this is wrong 
e = "chinmay"
position = 0
for i in e[::-1]:
    print(i)

y
a
m
n
i
h
c

In [16]:
def rev_str(str1):
    reversed_string = ""
    for char in str1:
        reversed_string = char + reversed_string
    return reversed_string

e = rev_str("Chinmau")
e

'uamnihC'

In [ ]:
Replace all occurrences of a substring in a string with another substring.

In [18]:
str1 = "Chinmay bhalerao"
str1.replace("a","c")

'Chinmcy bhclerco'

In [ ]:
Write a program to find the first non-repeating character in a string.

In [21]:
str1 = "Chinamayaana"
s1 = set(str1)
s1

{'C', 'a', 'h', 'i', 'm', 'n', 'y'}

In [24]:
char_count = {}
for i in str1:
    char_count[i] == char_count.get(i,0) + 1

KeyError: 'C'

In [ ]:
Given two strings, check if one is an anagram of the other (e.g., "listen" and "silent").

In [31]:

def anagram(w1,w2):
    w1_new = "".join(sorted(w1))
    w2_new = "".join(sorted(w2))
    if w1_new == w2_new:
        return f"It is anagram"
    else:
        return "Not"

In [32]:
w1 = "liseten"
w2 = "silent"
w = anagram(w1,w2)
w

'Not'

In [ ]:
Write a program to find the largest and smallest numbers in a list.

In [34]:
e = [5,6,2,3,4,6,8,9]
e.sort()
print("smallest:",e[0])
print("biggest:",e[-1])

smallest: 2
biggest: 9

In [36]:
min(e)
max(e)

9

In [ ]:
Remove duplicates from a list without using set().

In [39]:
def remove_dupli(l1):
    orig_list = []
    for i in l1:
        if i not in orig_list:
            orig_list.append(i)
    return orig_list


e = [5,6,2,3,4,6,8,9,9,5,4,3,2,1,7,3]
ee = remove_dupli(e)
ee

[5, 6, 2, 3, 4, 8, 9, 1, 7]

In [ ]:
Rotate a list by n positions (e.g., [1, 2, 3, 4] rotated by 2 becomes [3, 4, 1, 2]).

In [43]:

def rota(l1,n):
    n = n % len(l1)
    print(n)
    return l1[n:] + l1[:n]
    



e = [5,6,2,3,4,6,8,9,9,5,4,3,2,1,7,3]
re = rota(e,3)
re

3

[3, 4, 6, 8, 9, 9, 5, 4, 3, 2, 1, 7, 3, 5, 6, 2]

In [ ]:
Write a program to sort a list of tuples based on the second element.
Example: [(1, 3), (4, 2), (2, 5)] -> [(4, 2), (1, 3), (2, 5)]

In [ ]:
Merge two sorted lists into one sorted list.

In [47]:
e = [4,3,2,1,6]
w = [7,8,9,4]
e.sort()
w.sort()
q = e+w
q.sort()
q

[1, 2, 3, 4, 4, 6, 7, 8, 9]

In [55]:
def mrg_sor_lst(l1,l2):
    megred = []
    i,j = 0,0
    while i < len(l1) and j < len(l2):
        if l1[i] <= l2[j]:
            megred.append(l1[i])
            i+=1
        else:
            megred.append(l1[j])
            j+=1
    return megred

e = [4,3,2,1]
w = [7,8,9,4]
s = mrg_sor_lst(e,w)
s

[4, 3, 2, 1]