In [ ]:
"""
Write a program to convert between integers, floats, and strings.
"""

In [1]:
integer = 4
flo = 5.786
string = "Chinmay"

In [4]:
## In integer
print(int(flo))
print(int(string)) ## cant convert

5

ValueError: invalid literal for int() with base 10: 'Chinmay'

In [5]:
## In float
print(float(integer))
print(float(string))  ## Cant convert

4.0

ValueError: could not convert string to float: 'Chinmay'

In [6]:
## In string
print(str(integer))
print(str(flo))

4
5.786

In [14]:
def type_exchanger(value):

    try:
        print("Trying to convert into int value")
        int_value = int(value)
    except ValueError:
        int_value = None
    print("conversion completed")
    try:
        print("Trying to convert into float value")
        float_value = float(value)
    except ValueError:
        float_value = None
    try :
        print("Trying to convert into string value")
        str_value = str(value)
    except ValueError:
        str_value = None
    return int_value,float_value, str_value
    


## 
o_p = type_exchanger("Chinmay")
o_p

Trying to convert into int value
conversion completed
Trying to convert into float value
Trying to convert into string value

(None, None, 'Chinmay')

In [ ]:
"""
Write a program to reverse a string and count vowels.
"""

In [21]:
string = "Chaoiirdfspzdsdnfdgidiidmsxsxosdcbuvfjubinmay"
rev_string = string[::-1]
rev_string
vowels = ["a","e","i","o","u"]
vow_num = 0
present_vowels = []
for i in string:
    if i.lower() in vowels:
        vow_num += 1
        present_vowels.append(i)
print((vow_num))

12

In [ ]:
"""
Create a list of squares using list comprehension.
"""

In [23]:
nums = [1,2,3,4,5]
[i*i for i in nums]

[1, 4, 9, 16, 25]

In [ ]:
"""
Find common elements between two sets.
"""

In [30]:
r = {2,3,4,5,6}
t = {3,4,5,7,8,9}
print("common elements are:\n",r.intersection(t))

common elements are:
 {3, 4, 5}

In [ ]:
"""
Merge two dictionaries and count word frequencies in a string.
"""

In [34]:
dict1 = {"name":"Chinmay",
         "age":26,
         "color":"black"}
dict2 = {"name":"Ramesh",
         "age":20,
         "color":"blue",
        "Hi":3}

In [38]:
dict3 = dict1 | dict2

In [39]:
dict3

{'name': 'Ramesh', 'age': 20, 'color': 'blue', 'Hi': 3}